.defaultPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}
.defaultPage>h1 {
    color: #f3d22d;
    text-align: center;
    font-size: 100px;
}
.defaultPage>h2 {
    text-align: center;
    text-transform: uppercase;
}



@media screen and (max-width: 480px) and (min-width: 360px) {
   .defaultPage{
    margin-top: 20%;
    margin-bottom: 45%;
   }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .defaultPage{
        margin-top: 20%;
        margin-bottom: 35%;
       }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .defaultPage{
        margin-top: 20%;
        margin-bottom: 25%;
       }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .defaultPage{
        margin-top: 20%;
        margin-bottom: 20%;
       }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
    .defaultPage{
        margin-top: 15%;
        margin-bottom: 20%;
       }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .defaultPage{
        margin-top: 15%;
        margin-bottom: 20%;
       }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    .defaultPage{
        margin-top: 20%;
        margin-bottom: 20%;
       }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
    .defaultPage{
        margin-top: 15%;
        margin-bottom: 20%;
       }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .defaultPage{
        margin-top: 10%;
        margin-bottom: 15%;
       }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .defaultPage{
        margin-top: 5%;
        margin-bottom: 12%;
       }
}