@font-face {
  font-family: 'Marker';
  src: url('/public/assets/fonts/PermanentMarker-Regular.ttf');
}

.responsive-navigation-dropdown {
    text-align: center;
    font-family:'Roboto',sans-serif;
    /* font-family: 'Marker'; */
  }
  
  .navigation-menu-trigger-ico{
    position: absolute;
    font-size: 35px;
    top: 20px;
    left: 30px;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }
  
  .navigation-menu-trigger-ico:hover{
    color: #f3d22d;
  }
  
  .dropdown-navigation::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    height: 20px;
    width: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .dropdown-navigation{
    position: absolute;
    top: 70px;
    
    left: 18px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-navigation ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
  }
  .dropdown-navigation ul li:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-navigation ul li:hover a{
    color: unset;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .dropdown-navigation.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 900ms ease;
  }
  
  .dropdown-navigation.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
  
  .dropdown-navigation-dropdownItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
  }
  
  .dropdown-navigation-dropdownItem-link{
    max-width: 100px;
    margin-left: 10px;
    transition: 500ms;
    cursor: pointer;
    color: black;
  }
  
  
  
  
  
  
  
  
  
  
  