@media screen and (max-width: 480px) and (min-width: 360px) {
   .defaultPage{
    margin-top: 35%;
    margin-bottom: 80%;
   }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .defaultPage{
        margin-top: 35%;
        margin-bottom: 80%;
       }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .defaultPage{
        margin-top: 35%;
        margin-bottom: 80%;
       }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 130%;
       }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 130%;
       }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 130%;
       }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 130%;
       }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 130%;
       }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 120%;
       }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .defaultPage{
        margin-top: 85%;
        margin-bottom: 100%;
       }
}