.contactPage{
    font-family:'Roboto',sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.map{
    border-radius: 20px;
}
