.defaultPage {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}
.defaultPage>h1 {
    color: #f3d22d;
    text-align: center;
    font-size: 100px;
}
.defaultPage>h2 {
    text-align: center;
    text-transform: uppercase;
}