.uploadPage {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.uploadForm {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: black;
    justify-content: center;
  }
  .input-photo {
    background: white;
    color: black;
  }