.contactPage {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.map {
    border: 0;
    border-radius: 2%;
}

@media screen and (max-width: 480px) and (min-width: 360px) {
    .contactPage {
        margin-top: 8%;
        margin-bottom: 7%;
    }

    .contact-info {
        max-width: 60%;
    }

    .map-span {
        margin-top: 5%;
    }

    .map {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .contactPage {
        margin-top: 8%;
        margin-bottom: 9%;
    }

    .contact-info {
        max-width: 80%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .contactPage {
        margin-top: 8%;
        margin-bottom: 9%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .contactPage {
        margin-top: 8%;
        margin-bottom: 9%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
    .contactPage {
        margin-top: 8%;
        margin-bottom: 9%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .contactPage {
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    .contactPage {
        margin-top: 5%;
        margin-bottom: 4%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
    .contactPage {
        margin-top: 5%;
        margin-bottom: 4%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .contactPage {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .contactPage {
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .contact-info {
        max-width: 90%;
    }

    .map-span {
        margin-top: 8%;
    }

    .map {
        width: 600px;
        height: 600px;
    }
}