.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  align-items: center;
  text-align: center;
}

.loginForm {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: black;
    justify-content: center;
  }
  
  .inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  label,
  input,
  button {
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
    cursor: pointer;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
  }
  input:hover {
    background: #f3d22d;
  }
  
  button {
    font-family:'Roboto',sans-serif;
    margin-top: 20px;
    font-size: 15px;
    background: white;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
  }
  
  button:hover {
    background: #f3d22d;
  }

  .button{
    margin-top: 15%;
  }

  .log-btn{
    color: #f3d22d;
  }

  .log-btn:hover {
    text-decoration: underline;
  }
  
  .field {
    margin-top: 10%;
    font-size: 16px;
  }