.uploadPage{
  margin-top: 3%;
}

.file-card {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px dashed #9ca4ab;
  background-color: #edf2f7;
  border-radius: 8px;
  min-width: 500px;
  min-height: 350px;
}

.file-inputs {
  position: relative;
  margin-bottom: 1.5em;
}

.uploadForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.file-input{
  position: relative;
  right: 9px;
  bottom: 12px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  outline: none;
}

.add-btn-wrap{
  position: absolute;
            top: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #edf2f7;
            cursor: pointer;
            border: none;
            outline: none;
}

.add-btn{
  width: 1.5em;
  height: 1.5em;
  padding: 0.4em;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5em;
}

.add-btn-wrap:hover{
  background: unset;
}

.plus-icon{
  cursor: pointer;
}

.submit-btn{
  border-radius: 20px;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 900;
  height: 40px;
  transition: .5s;
  border: none;
  box-sizing: border-box;
  display: block;
  outline: none;
  padding: 0;
  background: black;
  color: white;
  width: 60%;
  margin-top: 25%;
}

.submit-btn:hover{
  background: #f3d22d;
}

.supported-files {
  font-size: 1.1rem;
  color: #f1410b;
  font-style: italic;
  transition: 500ms ease;
  font-size: 16px;
}

.file{
  color: black;
  font-style: italic;
  transition: 500ms ease;
  font-size: 16px;
}



@media screen and (max-width: 480px) and (min-width: 360px) {
    .uploadPage{
      margin-top: 12%;
      margin-bottom: 15%;
    }
   .file-card{
    min-width: 320px;
    min-height: 310px;
    max-width: 320px;
    max-height: 310px;
   }
   .file{
    width: 100%;
    overflow: auto;
   }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  .uploadPage{
    margin-top: 10%;
    margin-bottom: 9%;
  }
 .file-card{
  min-width: 420px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .uploadPage{
    margin-top: 6%;
    margin-bottom: 6%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 5%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 5%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .uploadPage{
    margin-top: 6%;
    margin-bottom: 4%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 4%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 2%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 5%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
  .uploadPage{
    margin-top: 4%;
    margin-bottom: 7%;
  }
 .file-card{
  min-width: 430px;
  min-height: 300px;
 }
 .file{
  width: 100%;
  overflow: auto;
 }
}