.footer {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

.links-footer {
    display: flex;
    justify-content: center;
    gap: 1%;
    color: white;
    margin-bottom: 0.7%;
}

.instagram-icon, .facebook-icon, .google-icon, .github-icon {
    font-size: 35px;
}

.copyright {
    font-family:'Roboto',sans-serif;
    display: block;
    font-size: 15px;
}
