@use '../../styles/fonts' as *;

.header {
    z-index: 100;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    font-family: $font-secondary;
    color: #fff;
}