.galleryPage {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
}

.model-open {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.model-open-img {
    max-width: 500px;
    max-height: 800px;
    border-radius: 2%;
}

.wrapper-dislike{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dislike{
    font-size: 26px;
}

.model-open-actions{
    position: absolute;
    top: 5.3%;
    right: 13%;
    font-size: 26px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90%;
}

.model-open-x:hover,
.model-open-delete:hover,
.model-open-comments:hover,
.actions-like:hover,
.dislike:hover {
    color: #f3d22d;
}

@media screen and (max-width: 480px) and (min-width: 360px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 300px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 3.3%;
        right: 36%;
        gap: 50%;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 360px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 3.3%;
        right: 21%;
        gap: 50%;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 13%;
        gap: 50%;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 11%;
        gap: 50%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 9%;
        gap: 50%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 8%;
        gap: 50%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 7%;
        gap: 50%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 6%;
        gap: 50%;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
    .model-open-img {
        max-width: 400px;
        max-height: 800px;
        border-radius: 2%;
    }
    .model-open-actions{
        top: 2.3%;
        right: 5%;
        gap: 50%;
    }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .galleryPage{
        gap: 60px;
        margin-top: 40px;
    }
}

