@media screen and (max-width: 360px) {
    header {
        position: static;
    }

    .nav-logo {
        width: 20vw;
        left: 38%;
    }

    .user-pic {
        font-size: 16px;
        margin: 0% 3% 0 0;
    }

    .nav-bar {
        margin-top: 17%;
        margin-left: 0%;
        gap: 6%;
    }

    .nav-link {
        font-size: 16px;
    }

    .gallery {
        padding-left: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .booking {
        margin-left: 0;
    }

    .sub-menu-wrap {
        background-color: black;
        overflow: auto;
        width: 100vw;
        z-index: 105;
        margin-top: 9%;
    }

    .main {
        max-width: 95%;
        padding: 10% 8% 10% 10%;
    }

    .content {
        text-align: center;
        justify-content: center;
    }

    .galleryPage {
        margin-top: 0%;
        padding: 0% 15% 0 0;
    }

    .img-gallery>img {
        width: 70vw;
    }

    .homePage {
        padding-left: 28%;
        margin-top: 0;
        padding-top: 0;
        font-size: 20px;
    }

    .artists > div > img{
        margin-top: 10%;
        width: 70px;
        height: 70px;
    }
    .artists > div > h3{
        font-size: 10px;
    }
    .artist-info{
        display: none;
    }
    .message {
        margin-bottom: 10%;
        width: 100%;
    }
    .message>p{
        font-size: 16px;
        width: 75vw;
    }

    .uploadPage {
        padding-right: 2%;
        padding-top: 10%;
    }
    .uploadPage>.uploadForm {
        padding-left: 15%;
        width: 80%;
        height: 80%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 20%;
        padding-right: 15%;
    }

    .bookingPage>.message {
        font-size: 18px;
        margin-left: 10%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 70vw;
    }

    .loginPage {
        padding-left: 1%;
        margin-top: 5%;
    }

    .loginForm {
        width: 100%;
        height: 100%;
    }
    .loginForm input{
        height: 30px;
    }

    .registerPage {
        padding-left: 1%;
        margin-top: 5%;
    }

    .registerForm {
        width: 100%;
        height: 100%;   
    }
    .registerForm input{
        height: 30px;
    }

    .contactPage {
        margin-top: 10%;
        padding: 0 0 10% 5%;
    }

    .address-span {
        width: 100vw;
        font-size: 16px;
    }

    .hours-span {
        width: 100vw;
        font-size: 16px;
    }

    .map {
        width: 90vw;
        height: 50vh;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 25px;
    }
    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) and (min-width: 361px) {
    header {
        position: static;
    }

    .nav-logo {
        width: 20vw;
        left: 38%;
    }

    .user-pic {
        font-size: 18px;
        margin: 0% 3% 0 0;
    }

    .nav-bar {
        margin-top: 17%;
        margin-left: 2%;
        gap: 6%;
    }

    .nav-link {
        font-size: 20px;
    }

    .gallery {
        padding-left: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .booking {
        margin-left: 0;
    }

    .sub-menu-wrap {
        background-color: black;
        overflow: auto;
        width: 100vw;
        z-index: 105;
        margin-top: 9%;
    }

    .main {
        max-width: 95%;
        padding: 10% 8% 10% 10%;
    }

    .content {
        text-align: center;
        justify-content: center;
    }

    .galleryPage {
        padding: 0% 15% 0 0;
    }

    .img-gallery>img {
        width: 70vw;
    }

    .homePage {
        padding-left: 28%;
        margin-top: 20%;
        font-size: 20px;
    }

    .artists > div > img{
        width: 75px;
        height: 75px;
    }
    .artist-info{
        font-size: 14px;
    }
    .message {
        margin-bottom: 10%;
        width: 100%;
    }
    .message>p{
        font-size: 16px;
        width: 100%;
    }

    .uploadPage {
        padding-right: 2%;
        padding-top: 10%;
    }
    .uploadPage>.uploadForm {
        padding-left: 15%;
        width: 80%;
        height: 80%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 20%;
        padding-right: 15%;
    }

    .bookingPage>.message {
        font-size: 18px;
        margin-left: 10%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 70vw;
    }

    .loginPage {
        padding-left: 1%;
        margin-top: 10%;
    }

    .loginForm {
        width: 80%;
        height: 80%;
    }

    .registerPage {
        padding-left: 1%;
        margin-top: 10%;
    }

    .registerForm {
        width: 80%;
        height: 80%;
    }

    .contactPage {
        margin-top: 15%;
        padding: 0 0 10% 5%;
    }

    .address-span {
        width: 100vw;
        font-size: 16px;
    }

    .hours-span {
        width: 100vw;
        font-size: 16px;
    }

    .map {
        width: 90vw;
        height: 50vh;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 25px;
    }
    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    header {
        position: static;
    }

    .nav-logo {
        width: 20vw;
        left: 38%;
    }

    .user-pic {
        font-size: 18px;
        margin: 0% 3% 0 0;
    }

    .nav-bar {
        margin-top: 17%;
        margin-left: 2%;
        gap: 6%;
    }

    .nav-link {
        font-size: 24px;
    }

    .gallery {
        padding-left: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .booking {
        margin-left: 0;
    }

    .sub-menu-wrap {
        background-color: black;
        overflow: auto;
        width: 100vw;
        z-index: 105;
        margin-top: 9%;
    }

    .main {
        max-width: 95%;
        padding: 10% 8% 10% 10%;
    }

    .content {
        text-align: center;
        justify-content: center;
    }

    .galleryPage {
        padding: 10% 15% 0 0;
    }

    .img-gallery>img {
        width: 70vw;
    }

    .homePage {
        padding-left: 24%;
        margin-top: 15%;
        font-size: 20px;
    }

    .artists > div > img{
        width: 100px;
        height: 100px;
    }
    .artist-info{
        font-size: 14px;
    }
    .message {
        margin-bottom: 10%;
        width: 100%;
    }
    .message>p{
        font-size: 16px;
        width: 100%;
    }

    .uploadPage {
        padding-right: 5%;
        padding-top: 10%;
    }
    .uploadPage>.uploadForm {
        padding-left: 15%;
        width: 100%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 20%;
        padding-right: 15%;
    }

    .bookingPage>.message {
        font-size: 18px;
        margin-left: 10%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 70vw;
    }

    .loginPage {
        padding-left: 5%;
        margin-top: 10%;
    }

    .loginForm {
        width: 100%;
    }

    .registerPage {
        padding-left: 5%;
        margin-top: 10%;
    }

    .registerForm {
        width: 100%;
    }

    .contactPage {
        margin-top: 25%;
        padding: 0 0 10% 5%;
    }

    .address-span {
        width: 100vw;
        font-size: 16px;
    }

    .hours-span {
        width: 100vw;
        font-size: 16px;
    }

    .map {
        width: 90vw;
        height: 50vh;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    header {
        position: static;
    }

    .nav-logo {
        width: 20vw;
        left: 38%;
    }

    .user-pic {
        font-size: 25px;
        margin: 0% 3% 0 0;
    }

    .nav-bar {
        margin-top: 17%;
        margin-left: 2%;
        gap: 6%;
    }

    .nav-link {
        font-size: 28px;
    }

    .gallery {
        padding-left: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .booking {
        margin-left: 0;
    }

    .sub-menu-wrap {
        background-color: black;
        overflow: auto;
        width: 100vw;
        z-index: 105;
        margin-top: 5%;
    }

    .main {
        max-width: 95%;
        padding: 10% 8% 10% 10%;
    }

    .content {
        text-align: center;
        justify-content: center;
    }

    .galleryPage {
        padding: 10% 15% 0 0;
    }

    .img-gallery>img {
        width: 70vw;
    }

    .homePage {
        padding-left: 24%;
        margin-top: 15%;
        font-size: 20px;
    }

    .artists > div > img{
        width: 150px;
        height: 150px;
    }
    .artist-info{
        font-size: 14px;
    }
    .message {
        margin-bottom: 10%;
        width: 100%;
    }
    .message>p{
        width: 100%;
    }

    .uploadPage {
        padding-right: 5%;
        padding-top: 10%;
    }

    .uploadPage>.uploadForm {
        padding-left: 15%;
        width: 100%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 10%;
        margin-right: 0;
        padding-right: 0;
        margin-top: 10%;
    }

    .bookingPage>.message {
        font-size: 18px;
        margin-left: 1%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 70vw;
    }

    .loginPage {
        padding-left: 0;
        margin-top: 10%;
    }

    .loginForm {
        width: 100%;
    }

    .registerPage {
        padding-left: 0;
        margin-top: 10%;
    }

    .registerForm {
        width: 100%;
    }

    .contactPage {
        margin-top: 15%;
        padding: 0 0 10% 5%;
    }

    .address-span {
        width: 100vw;
        font-size: 16px;
    }

    .hours-span {
        width: 100vw;
        font-size: 16px;
    }

    .map {
        width: 90vw;
        height: 50vh;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 35px;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    header {
        position: static;
    }

    .nav-logo {
        width: 20vw;
        left: 39%;
    }

    .user-pic {
        font-size: 25px;
        margin: 0% 3% 0 0;
    }

    .nav-bar {
        margin-top: 17%;
        margin-left: 2%;
        gap: 6%;
    }

    .nav-link {
        font-size: 28px;
    }

    .gallery {
        padding-left: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .booking {
        margin-left: 0;
    }

    .sub-menu-wrap {
        background-color: black;
        overflow: auto;
        width: 100vw;
        z-index: 105;
        margin-top: 5%;
    }

    .main {
        max-width: 95%;
        padding: 10% 8% 10% 10%;
    }

    .content {
        text-align: center;
        justify-content: center;
    }

    .galleryPage {
        padding: 5% 15% 0 0;
    }

    .img-gallery>img {
        width: 70vw;
    }
    .homePage {
        padding-left: 24%;
        margin-top: 10%;
        font-size: 20px;
    }
    .artists > div > img{
        width: 150px;
        height: 150px;
    }
    .artist-info{
        font-size: 14px;
    }
    .message {
        margin-bottom: 10%;
        width: 100%;
    }
    .message>p{
        width: 100%;
    }
  

    .uploadPage {
        padding-top: 10%;
    }

    .uploadPage>.uploadForm {
        padding-left: 10%;
        width: 100%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 10%;
        margin-top: 10%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 3%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 70vw;
    }

    .loginPage {
        padding-left: 4%;
        margin-top: 10%;
    }

    .loginForm {
        width: 100%;
    }

    .registerPage {
        padding-left: 4%;
        margin-top: 10%;
    }

    .registerForm {
        width: 100%;
    }

    .contactPage {
        margin-top: 15%;
        padding: 0 0 10% 5%;
    }

    .address-span {
        width: 100vw;
        font-size: 20px;
    }

    .hours-span {
        width: 100vw;
        font-size: 20px;
    }

    .map {
        width: 90vw;
        height: 50vh;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 35px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
    header {
        height: 15vh;
        padding-bottom: 10%;
        background-color: black;
        font-family: 'Marker';
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 3%;
    }
    .nav-logo {
        display: inline-block;
        width: 17vw;
        position: absolute;
        margin-top: 0.2%;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 37.4%;
        z-index: 100;
    }
    .nav-bar{
        position: absolute;
        top: 30%;
        left: 24.5%;
        gap: 10%;
        background-color: black;
    }
    .user-pic{
       font-size: 20px;
       margin: 0.05% 2% 0 0;
    }
    
    .sub-menu-wrap.open-menu {
        background: black;
        width: 20vw;
        z-index: 100;
    }
    .sub-menu-wrap{
        background: black;
        width: 20vw;
        z-index: 100;
        margin-top: 4%;
    }
    .gallery{
        margin-right: 26%;
    }
    .booking{
        margin-left: 26%;
    }
    .content{
        margin: 2% 10% 5% 15%;
    }
    .galleryPage {
        max-width:unset;
        padding-left: 0;
    }
    .img-gallery{
        margin: 5% auto 50px;
    }
    .img-gallery>img {
        width: 30vw;
    }

    .homePage {
        padding-left: 9%;
        margin-top: 0;
        font-size: 20px;
    }
    .artists > div > img{
        width: 150px;
        height: 150px;
    }
    .artist-info{
        font-size: 14px;
    }
    .message {
        margin-bottom: 10%;
    }

    .uploadPage {
        padding-top: 0;
        margin-right: 15%;
    }

    .uploadPage>.uploadForm {
        padding-left: 10%;
        width: 100%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 5%;
        margin-top: 0;
        margin-right: 15%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 3%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 50vw;
    }

    .loginPage {
        padding-left: 2%;
        margin-top: 0;
        padding-right: 13%;
    }
    

    .loginForm {
        width: 100%;
    }

    .registerPage {
        margin-top: 0;
        padding-right: 12%;
    }

    .registerForm {
        width: 100%;
    }

    .contactPage {
        margin-top: 0%;
        padding: 0 10% 2% 1%;
    }
    .footer{
        padding-right: 2%;
    }

}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    header {
        height: 15vh;
        padding-bottom: 10%;
        background-color: black;
        font-family: 'Marker';
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 3%;
    }
    .nav-logo {
        display: inline-block;
        width: 17vw;
        position: absolute;
        margin-top: 0.2%;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 41.4%;
        z-index: 100;
    }
    .nav-bar{
        position: absolute;
        top: 40%;
        left: 32.5%;
        gap: 10%;
        background-color: black;
    }
    .user-pic{
       font-size: 20px;
       margin: 1% 2.5% 0 0;
    }
    
    .sub-menu-wrap.open-menu {
        background: black;
        width: 20vw;
        z-index: 100;
    }
    .sub-menu-wrap{
        background: black;
        width: 20vw;
        z-index: 100;
        margin-top: 4%;
        margin-right: 1%;
    }
    .gallery{
        margin-right: 30%;
    }
    .booking{
        margin-left: 30%;
    }
    .content{
        margin: 2% 10% 5% 15%;
    }
    .galleryPage {
        max-width:unset;
        padding-left: 0;
        margin-right: 5%;
    }
    .img-gallery{
        margin: 0 auto 50px;
        gap: 50px 100px;
    }
    .img-gallery>img {
        width: 30vw;
    }

    .homePage {
        padding-left: 18%;
        margin-top: 0;
        font-size: 20px;
    }

    .uploadPage {
        padding-top: 0;
        margin-right: 7%;
    }
    .input-photo{
        font-size: 16px;
    }

    .uploadPage>.uploadForm {
        padding-left: 10%;
        width: 60%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 0;
        margin-right: 8%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 3%;
    }

    .bookingPage>.calendar {
        margin-left: 5%;
        width: 40vw;
    }

    .loginPage {
        padding-left: 2%;
        margin-top: 0;
        margin-right: 5%;
    }
    

    .loginForm {
        width: unset;
    }

    .registerPage {
        margin-top: 0;
        margin-right: 4%;
    }

    .registerForm {
        width: unset;
    }

    .contactPage {
        margin-top: 0%;
        padding: 0 0 2% 1%;
    }
    .footer{
        margin-left: 1%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    header {
        height: 15vh;
        padding-bottom: 10%;
        background-color: black;
        font-family: 'Marker';
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 3%;
    }
    .nav-logo {
        display: inline-block;
        width: 17vw;
        position: absolute;
        margin-top: 0.2%;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 41.4%;
        z-index: 100;
    }
    .nav-bar{
        position: absolute;
        top: 40%;
        left: 34.9%;
        gap: 15%;
        background-color: black;
    }
    .user-pic{
       font-size: 20px;
       margin: 0.05% 1% 0 0;
    }
    
    .sub-menu-wrap.open-menu {
        background: black;
        width: 20vw;
        z-index: 100;
    }
    .sub-menu-wrap{
        background: black;
        width: 20vw;
        z-index: 100;
        margin-top: 3%;
    }
    .gallery{
        margin-right: 30%;
    }
    .booking{
        margin-left: 30%;
    }
    .content{
        margin: 2% 10% 5% 15%;
    }
    .galleryPage {
        max-width:unset;
        padding-left: 0;
        margin-right: 5%;
    }
    .img-gallery{
        margin: 0 auto 50px;
        gap: 50px 100px;
    }
    .img-gallery>img {
        width: 30vw;
    }

    .homePage {
        padding-left: 20%;
        margin-top: 0;
        font-size: 20px;
    }

    .uploadPage {
        padding-top: 0;
        margin-right: 8%;
    }

    .uploadPage>.uploadForm {
        padding-left: 10%;
        width: 40%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 0;
        margin-right: 8%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 4%;
    }

    .bookingPage>.calendar {
        margin-left: 4%;
        width: 30vw;
    }

    .loginPage {
        padding-left: 2%;
        margin-top: 0;
        margin-right: 5%;
    }
    

    .loginForm {
        width: 40%;
    }

    .registerPage {
        margin-top: 0;
        margin-right: 4%;
    }

    .registerForm {
        width: 40%;
    }

    .contactPage {
        margin-top: 0%;
        padding: 0 5% 2% 1%;
    }
    .footer{
        margin-left: 1%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
    header {
        height: 15vh;
        padding-bottom: 10%;
        background-color: black;
        font-family: 'Marker';
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 3%;
    }
    .nav-logo {
        display: inline-block;
        width: 15vw;
        position: absolute;
        margin-top: 0.2%;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 42%;
        z-index: 100;
    }
    .nav-bar{
        position: absolute;
        top: 40%;
        left: 36%;
        gap: 15%;
        background-color: black;
    }
    .user-pic{
       font-size: 20px;
       margin: 0.05% 1% 0 0;
    }
    
    .sub-menu-wrap.open-menu {
        background: black;
        width: 20vw;
        z-index: 100;
    }
    .sub-menu-wrap{
        background: black;
        width: 20vw;
        z-index: 100;
        margin-top: 3%;
    }
    .gallery{
        margin-right: 30%;
    }
    .booking{
        margin-left: 30%;
    }
    .content{
        margin: 2% 10% 5% 15%;
    }
    .galleryPage {
        max-width:unset;
        padding-left: 0;
        margin-right: 6%;
    }
    .img-gallery{
        margin: 0 auto 50px;
        gap: 50px 100px;
    }
    .img-gallery>img {
        width: 30vw;
    }

    .homePage {
        padding-left: 20%;
        margin-top: 0;
        font-size: 20px;
    }

    .uploadPage {
        padding-top: 0;
        margin-right: 9%;
    }

    .uploadPage>.uploadForm {
        padding-left: 10%;
        width: 40%;
        height: 100%;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 0;
        margin-right: 5%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 4%;
    }

    .bookingPage>.calendar {
        margin-left: 4%;
        width: 30vw;
    }

    .loginPage {
        padding-left: 2%;
        margin-top: 0;
        margin-right: 5%;
    }
    

    .loginForm {
        width: 40%;
    }

    .registerPage {
        margin-top: 0;
        margin-right: 4%;
    }

    .registerForm {
        width: 40%;
    }

    .contactPage {
        margin-top: 0%;
        padding: 0 2% 2% 1%;
    }
    .footer{
        margin-left: 1%;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1601px) {
    header {
        height: 15vh;
        padding-bottom: 10%;
        background-color: black;
        font-family: 'Marker';
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 3%;
    }
    .nav-logo {
        display: inline-block;
        width: 13vw;
        position: absolute;
        margin-top: 0.2%;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 42%;
        z-index: 100;
    }
    .nav-bar{
        position: absolute;
        top: 40%;
        left: 35.5%;
        gap: 20%;
        background-color: black;
    }
    .nav-link{
        font-size: 35px;
    }
    .user-pic{
       font-size: 26px;
       margin-top: 1%;
       margin-right: 1%;
    }
    
    .sub-menu-wrap.open-menu {
        background: black;
        width: 10vw;
        z-index: 100;
    }
    .sub-menu-wrap{
        background: black;
        width: 10vw;
        z-index: 100;
        margin-top: 4%;
    }
    .gallery{
        margin-right: 30%;
    }
    .booking{
        margin-left: 30%;
    }
    .content{
        margin: 2% 10% 5% 28%;
    }

    .galleryPage {
        max-width: 100%;
        padding-left: 1%;
        padding-right: 10%;
    }
    .img-gallery{
        width: 80%;
        margin: 5% auto 100px;
        gap: 50px 350px;
    }
    .img-gallery>img {
        width: 30vw;
    }
    .map{
        width: 50vw;
    }

    .homePage {
        padding-left: 4%;
        margin-top: 0;
        margin-right: 3%;
        font-size: 20px;
    }
    .homePage .message {
        margin-right: 10%;
    }

    .uploadPage {
        padding-top: 0;
        margin-right: 10%;
    }

    .uploadPage>.uploadForm {
        font-size: 24px;
        padding-left: 10%;
        width: 40%;
        height: 100%;
        padding-bottom: 20%;
    }

    .uploadForm .btn{
        font-size: 20px;
    }

    .uploadForm .input-photo{
        font-size: 20px;
    }

    .bookingPage {
        padding-top: 0%;
        margin-top: 0;
        margin-right: 30%;
    }

    .bookingPage>.message {
        font-size: 25px;
        margin-left: 4%;
    }

    .bookingPage>.calendar {
        margin-left: 3%;
        width: 30vw;
    }

    .loginPage {
        padding-left: 2%;
        margin-top: 0;
        margin-right: 30%;
    }
    

    .loginForm {
        width: 40%;
    }

    .registerPage {
        margin-top: 0;
        margin-right: 30%;
    }
    .registerForm {
        width: 40%;
    }

    .contactPage {
        font-size: 24px;
        margin-top: 0%;
        padding: 0 28% 2% 1%;
    }
    .footer{
        margin-left: 0.2%;
    }

    .instagram-icon,
    .facebook-icon,
    .google-icon {
        font-size: 40px;
    }

    .copyright{
        font-size: 20px;
    }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .user-pic {
        margin-right: 2%;
    }
    
    .content {
        padding: 2% 0 2% 16.5%;
    }
    .nav-link{
        margin-top: 3%;
    }
    .nav-logo{
        left: 44.8%;
    }

    .galleryPage {
        padding: 0 5% 2% 13%;
        margin-top: 0;
    }

    .bookingPage {
        margin-right: 22%;
        padding: 0% 0 2% 0;
    }
    .sub-menu{
        margin-right: 15%;
    }
    
    .contactPage {

        margin-right: 20%;
        padding: 0% 0 2% 0;
    }

    .uploadPage {
        margin-right: 21%;
        padding: 0% 0 2% 0;
    }

    .registerPage {
        margin-right: 21%;
        padding: 0% 0 2% 0;
    }

    .loginPage {
        margin-right: 21%;
        padding: 0% 0 2% 0;
    }
}