.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registerForm {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 350px;
  height: 700px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: black;
  justify-content: center;
}

.registerForm label,
.registerForm input,
.registerForm button {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.registerForm input:hover {
  background: #f3d22d;
}

.registerForm label {
  margin-bottom: 4px;
}

.registerForm label:nth-of-type(2) {
  margin-top: 12px;
}

.registerForm input::placeholder {
  color: gray;
}

.registerForm input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
}

.registerForm button {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-size: 15px;
  background: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
}

.registerForm button:hover {
  background: #f3d22d;
}

.button{
  margin-top: 15%;
}

.reg-btn {
  color: #f3d22d;
  margin-left: 5px;
}

.reg-btn:hover {
  text-decoration: underline;
}

.field {
  margin-top: 10%;
  font-size: 16px;
}

.registerForm .validationWarning{
  color:#f3d22d;
}