@font-face {
    font-family: 'Permanent Marker';
    src: url('../../public//assets//fonts/PermanentMarker-Regular.ttf');
}

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Permanent Marker';
